<a href="https://colab.research.google.com/github/NoahFlanigan/NoahFlanigan/blob/main/dutc_sql_2024_05_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt install postgresql postgresql-contrib &>log
!service postgresql start

!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
!sudo -u postgres psql -c "CREATE USER \"user\" WITH PASSWORD 'password'"
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS postgres;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE postgres;'

CREATE ROLE

In [ ]:
%env DATABASE_URL=postgresql://user:password@localhost:5432/postgres
%load_ext sql

env: DATABASE_URL=postgresql://user:password@localhost:5432/postgres

In [ ]:
!python -m pip install sqlalchemy numpy pandas scipy aiopg

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Collecting aiopg
  Downloading aiopg-1.4.0-py3-none-any.whl (34 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Collecting psycopg2-binary>=2.9.5 (from aiopg)
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 18.7 MB/s eta 0:00:00
Requirement already satisfied: async-timeout<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from aiopg) (4.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: psycopg2-binary, aiopg
Successfully installed aiopg-1.4.0 psycopg2-binary-2.9.9

In [ ]:
from sqlalchemy import create_engine
from numpy.random import default_rng
from pandas import DataFrame, MultiIndex, date_range, Series, to_timedelta, IndexSlice, CategoricalIndex
from pathlib import Path
from sys import exit
from scipy.stats import skewnorm
import sys; sys.breakpointhook = exit

data_dir = Path('data')
data_dir.mkdir(exist_ok=True, parents=True)

full_dates = date_range('2020-01-01', periods=180*2, freq='D')
dates = date_range('2020-01-01', periods=180, freq='D')

assets = '''
    Equipment Medicine Metals Software StarGems Uranium
'''.split()
assets = CategoricalIndex(assets)

stars = '''
    Sol
    Boyd Fate Gaol Hook Ivan Kirk Kris Quin
    Reef Sand Sink Stan Task York
'''.split()
stars = CategoricalIndex(stars)

players = '''
    Alice Bob Charlie Dana
'''.split()
players = CategoricalIndex(players)

rng = default_rng(0)

inventory = (
    Series(
        index=(idx :=
            MultiIndex.from_product([
                players,
                assets,
            ], names='player asset'.split())
        ),
        data=rng.normal(loc=1, scale=.25, size=len(idx)),
        name='volume',
    ) * Series({
        'Equipment': 1_000,
        'Medicine':    500,
        'Metals':    1_250,
        'Software':    350,
        'StarGems':      5,
        'Uranium':      50,
    }, name='volume').rename_axis(index='asset')
).pipe(lambda s:
    s
        .sample(len(s) - 3, random_state=rng)
        .sort_index()
).pipe(lambda s:
    s
        .astype('int')
        .reindex(idx)
        .astype('Int64')
)

base_prices = Series({
    'Equipment':    7,
    'Medicine':    40,
    'Metals':       3,
    'Software':    20,
    'StarGems': 1_000,
    'Uranium':    500,
}, name='price').rename_axis('asset')

price_shifts = (
    Series(
        index=(idx :=
            MultiIndex.from_product([
                full_dates,
                stars,
                assets,
            ], names='date star asset'.split())
        ),
        data=(
            rng.normal(loc=1, scale=0.05, size=(len(stars), len(assets))).clip(0, 1.5)
            *
            rng.normal(loc=1, scale=0.02, size=(len(full_dates), len(stars), len(assets))).clip(0, 1.5).cumprod(axis=0)
        ).ravel(),
        name='price',
    )
)
spreads = (
    Series(
        index=(idx :=
            MultiIndex.from_product([
                full_dates,
                stars,
                assets,
            ], names='date star asset'.split())
        ),
        data=skewnorm(a=1, loc=.02, scale=.01).rvs(len(idx), random_state=rng).clip(-0.01, +.05),
        name='price',
    )
)

market = DataFrame({
    'buy':  base_prices * price_shifts * (1 + spreads),
    'sell': base_prices * price_shifts,
}).rename_axis(columns='direction').pipe(
    lambda df: df.set_axis(
        df.columns.astype('category'),
        axis='columns',
    )
)

loc_ps = {
    pl: (p := rng.integers(10, size=len(stars))) / p.sum()
    for pl in players
}
locations = (
    DataFrame(
        index=(idx := dates),
        data={
            pl: rng.choice(stars, p=loc_ps[pl], size=len(idx))
            for pl in players
        },
    )
    .rename_axis(index='date', columns='player')
    .pipe(lambda s:
        s
        .set_axis(
            s.columns.astype(players.dtype),
            axis='columns',
        )
        .astype(
              stars.dtype,
        )
    )
    .stack('player')
    .rename('star')
    .pipe(
        lambda s: s
            .sample(frac=.75, random_state=rng)
            .reindex(s.index)
            .groupby('player', observed=False).ffill()
            .groupby('player', observed=False).bfill()
            .sort_index()
    )
)

trips = (
    locations.groupby('player', group_keys=False, observed=False).apply(
        lambda g: g[g != g.shift()]
    ).sort_index()
)

standard_volumes = (10_000 / base_prices).round(0)

trades = (
    DataFrame(
        index=(idx :=
            MultiIndex.from_product([
                dates,
                players,
                assets,
                range(10),
            ], names='date player asset trade#'.split())
        ),
        data={
            'sentiment': rng.normal(loc=0, scale=.025, size=len(idx)),
            'regret': rng.normal(loc=0, scale=.0005, size=len(idx)),
            'edge': rng.normal(loc=1, scale=.001, size=len(idx)).clip(.75, 1.25),
        },
    )
    .pipe(
        lambda df: df
            .assign(
                buy=lambda df: (df.groupby(['player', 'asset'], observed=False)['sentiment'].rolling(3).mean() > 0).values,
                sign=lambda df: df['buy'] * -1 + ~df['buy'],
                direction=lambda df: df['buy'].map({True: 'buy', False: 'sell'}).astype(market.columns.dtype),
                volume=lambda df: df['sign'] * rng.normal(loc=1, scale=.5, size=len(df)).clip(0, 2),
            )
            .assign(
                star=lambda df:
                    locations.loc[
                        MultiIndex.from_arrays([
                            df.index.get_level_values('date'),
                            df.index.get_level_values('player'),
                        ])
                    ].values,
                asset_price=lambda df: (
                    market.stack('direction').loc[
                        MultiIndex.from_arrays([
                            df.index.get_level_values('date'),
                            df['star'],
                            df.index.get_level_values('asset'),
                            df['direction'],
                        ])
                    ].values
                ),
                price=lambda df: (df['asset_price'] * df['edge']).round(4),
                mark=lambda df: (df['price'] * (1 + df['regret'])).round(4),
                volume=lambda df: (df['volume'] * standard_volumes).round(-1).astype(int),
            )
    )
    .pipe(
        lambda df: df
            .loc[lambda df: df['volume'] != 0]
            .sample(frac=.5, random_state=rng)
            .sort_index()
    )
)

data_dir = Path('data')
data_dir.mkdir(exist_ok=True, parents=True)

print(
    # market.dtypes,
    # market.index.dtypes,
    # market.columns.dtype,

    # trades.dtypes,
    # trades.index.dtypes,
    # trades.columns.dtype,

    # inventory.dtypes,
    # inventory.index.dtypes,

    # locations.dtypes,
    # locations.index.dtypes,

    # trips,
    # trips.dtypes,
    # trips.index.dtypes,

    sep='\n{}\n'.format('\N{box drawings light horizontal}' * 40),
)

marks = trades['mark'].groupby(['date', 'player', 'asset'], observed=False).last()

con = create_engine('postgresql+psycopg2://user:password@localhost/postgres')
market.to_sql('realmarket', con=con, if_exists='replace')
market.round(2).to_sql('market', con=con, if_exists='replace')
trips.to_sql('trips', con=con, if_exists='replace')
inventory.to_sql('inventory', con=con, if_exists='replace')
locations.to_sql('locations', con=con, if_exists='replace')
trades.droplevel('trade#')[['volume', 'price']].to_sql('trades', con=con, if_exists='replace')
trades.to_sql('realtrades', con=con, if_exists='replace')
marks.to_sql('marks', con=con, if_exists='replace')

market.to_pickle(data_dir / 'market.pkl')
trips.to_pickle(data_dir / 'trips.pkl')
inventory.to_pickle(data_dir / 'inventory.pkl')
locations.to_pickle(data_dir / 'locations.pkl')
trades.to_pickle(data_dir / 'trades.pkl')
marks.to_pickle(data_dir / 'marks.pkl')

market.to_csv(data_dir / 'market.csv')
trips.to_csv(data_dir / 'trips.csv')
inventory.to_csv(data_dir / 'inventory.csv')
locations.to_csv(data_dir / 'locations.csv')
trades.to_csv(data_dir / 'trades.csv')
marks.to_csv(data_dir / 'marks.csv')

print(
    market.sample(3).sort_index(),
    trips.sample(3).sort_index(),
    inventory.sample(3).sort_index(),
    locations.sample(3).sort_index(),
    trades.sample(3).sort_index(),
    marks.sample(3).sort_index(),
    sep='\n{}\n'.format('\N{box drawings light horizontal}' * 40),
)

direction                         buy         sell
date       star asset
2020-01-11 Stan StarGems  1190.480162  1160.202476
2020-01-28 Gaol Metals       2.582041     2.532082
2020-06-03 Kris Metals       4.237284     4.159337
────────────────────────────────────────
date        player
2020-01-02  Bob        Quin
2020-04-26  Bob        Task
2020-06-16  Charlie    Boyd
Name: star, dtype: category
Categories (15, object): ['Boyd', 'Fate', 'Gaol', 'Hook', ..., 'Sol', 'Stan', 'Task', 'York']
────────────────────────────────────────
player  asset
Alice   Software    359
Bob     Medicine    618
Dana    Medicine    630
Name: volume, dtype: Int64
────────────────────────────────────────
date        player
2020-04-26  Bob        Task
2020-06-02  Bob        Fate
2020-06-16  Charlie    Boyd
Name: star, dtype: category
Categories (15, object): ['Boyd', 'Fate', 'Gaol', 'Hook', ..., 'Sol', 'Stan', 'Task', 'York']
────────────────────────────────────────
                                    sentiment    regret      edge    buy  \
date       player  asset    trade#
2020-01-25 Alice   Medicine 8        0.031204  0.000087  1.000720   True
2020-05-26 Dana    Software 3        0.012836 -0.000159  1.000517   True
2020-06-22 Charlie Medicine 6        0.020628 -0.000055  0.999962  False

                                    sign direction  volume  star  asset_price  \
date       player  asset    trade#
2020-01-25 Alice   Medicine 8         -1       buy    -450  Gaol    47.084927
2020-05-26 Dana    Software 3         -1       buy   -1000  Task    21.239574
2020-06-22 Charlie Medicine 6          1      sell     200  Reef    52.212417

                                      price     mark
date       player  asset    trade#
2020-01-25 Alice   Medicine 8       47.1188  47.1229
2020-05-26 Dana    Software 3       21.2505  21.2471
2020-06-22 Charlie Medicine 6       52.2104  52.2075
────────────────────────────────────────
date        player  asset
2020-03-12  Bob     Metals       2.9743
2020-05-01  Bob     Uranium    662.0153
2020-06-24  Dana    Uranium    478.0235
Name: mark, dtype: float64

In [ ]:
%%sql

select * from (values
    (1, 2)
  , (3, 4)
) as _(x, y)

2 rows affected.

[(1, 2), (3, 4)]

In [ ]:
%%sql

select
    player
  , volume
from inventory
where asset = 'Uranium' and volume is not null;

 * postgresql://user:***@localhost:5432/postgres
3 rows affected.

[('Bob', 50), ('Charlie', 46), ('Dana', 54)]

In [ ]:
print('hello world')

hello world